.b-grid {
    display: flex;
    flex-wrap: wrap;
}

.b-grid img {
    width: 100%;
    
    
    background-color: aquamarine;
}
.hidden{
    display: none;
}

.item{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 10px;

}
